.select-menu {
    position: relative;
    border-radius: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0 1.5rem #1a1a1a;
}


.select-menu__custom {
    width: 28rem;
    height: 3rem;
    overflow: hidden;
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    background-color: #151515;
    appearance: none;
    background-image: url("../img/icons/arrowup.jpeg");
    background-size: 1.5rem;
    background-position: calc(100% - 1rem);
    background-repeat: no-repeat;
    border: none;
    padding: 0 1.4rem;
    line-height: 2;
    font-weight: 200;
}

.select-menu__custom:focus {
    outline: none;
}

.select-menu__options {
    position: absolute;
    background-color: #242424;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: -.4rem;
    line-height: 1.7rem;
    box-shadow: 0 0 1.5rem #1a1a1a;
    overflow: hidden;
    padding: 0 0rem;
    font-weight: 200;
}

.select-menu__options--option {
    padding: .4rem;
}

[id^="menu"]:hover {
    background-color: #1b1b1b;
}

.select-menu__options--option--text {
    padding: 0 1rem;
}



