*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #0E0E0E;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.container {
    width: 114.5rem;
    height: 76.7rem;
    margin: auto;
    background-color: #1c1c1c;
}


/* set to 9px */
@media only screen and (max-width: 1144px) {
    html {
      font-size: 56.25%;
    }
}


/* set to 8px */
@media only screen and (max-width: 1029px) {
    html {
      font-size: 50%;
    }
}

/* set to 7px */
@media only screen and (max-width: 915px) {
    html {
      font-size: 43.75%;
    }
}

/* set to 6px */
@media only screen and (max-width: 801px) {
    html {
      font-size: 37.5%;
    }
}

/* set to 5px */
@media only screen and (max-width: 686px) {
    html {
      font-size: 31.25%;
    }
}

/* set to 4px */
@media only screen and (max-width: 572px) {
    html {
      font-size: 25%;
    }
}

/* set to 3px */
@media only screen and (max-width: 457px) {
    html {
      font-size: 18.75%;
    }
}

/* set to 2px */
@media only screen and (max-width: 342px) {
    html {
      font-size: 12.5%;
    }
}

/* media queries min-width */
/* set to 11px */
@media only screen and (min-width: 1260px) {
    html {
      font-size: 68.75%;
    }
}

/* set to 12px */
@media only screen and (min-width: 1375px) {
    html {
      font-size: 75%;
    }
}